<!doctype html>
<!--
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
-->
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="{{ url_for('static', filename='css3/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/custom_fonts.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/fragment.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/fontawesome-all.min.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='jscn/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/jquery.min.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='imgs/logoteal.png') }}" sizes="16x16">
        <script src="{{ url_for('static', filename='jscn/fragment.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/easy.qrcode.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/socket.io.js') }}"></script>
        <title>Fragment</title>
    </head>
    <body class="body bg-light">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
            <div class="container-fluid">
                <a style="color:#51A2DA;" class="navbar-brand head fw-bold" href="#">Fragment</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               aria-current="page"
                               data-bs-toggle="modal"
                               data-bs-target="#chanmode"
                               type="button"
                               onclick="populate_channel_list();">
                                Channels
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a style="color:#676767; text-decoration:none;" href="https://getfedora.org/" target="_blank" type="button">Get Fedora</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-lg">
            <div class="card text-center" style="margin-top: 10%;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='imgs/logo.svg') }}" style="width: 40%; height: 40%;" />
                        <div class="mt-4">
                            <p class="h2 head" style="font-weight: bold;">Fragment</p>
                            <p class="h4 body">Conversation Caretaker</p>
                        </div>
                        <a style="text-decoration: none;
                        "href="#" class="btn btn-light mt-3">
                            <i class="far fa-dot-circle h1 tealfilt"></i><br/>
                            <span style="color: #676767;">About</span>
                        </a>
                        <a style="text-decoration: none;
                        "href="#"
                           class="btn btn-light mt-3"
                           data-bs-toggle="modal"
                           data-bs-target="#rcntmode"
                           type="button"
                           onclick="populate_recent_meeting_list();">
                            <i class="far fa-clock h1 tealfilt"></i><br/>
                            <span style="color: #676767;">Recent</span>
                        </a>
                        <a style="text-decoration: none;
                           "href="#"
                           class="btn btn-light mt-3"
                           data-bs-toggle="modal"
                           data-bs-target="#chanmode"
                           type="button"
                           onclick="populate_channel_list();">
                            <i class="far fa-arrow-alt-circle-right h1 tealfilt"></i><br/>
                            <span style="color: #676767;">Explore</span>
                        </a>
                        <a style="text-decoration: none;
                        "href="#"
                           class="btn btn-light mt-3"
                           data-bs-toggle="modal"
                           data-bs-target="#findmode"
                           type="button"
                           onclick="initialize_search_modal();">
                            <i class="fas fa-search h1 tealfilt"></i><br/>
                            <span style="color: #676767;">Lookup</span>
                        </a>
                        <p class="small body mt-4 mb-0">
                            Many Fedora projects and groups use three IRC channels on irc.libera.chat for their
                            regular meetings. This makes it easy for people to find and attend meetings of interest,
                            join groups, and follow what other groups are doing. Please note that the meetings in IRC
                            channels are normally logged and the logs are often uploaded to public places afterwards.
                        </p>
                        <p class="small body mt-3 mb-0">
                            There are no formal meeting rules - but some of groups have rules or guidelines like the
                            FESCo meetings guidelines. Normally you are free to speak in meetings of all groups, but
                            please stick to the topic and help make sure that your comments help make the meeting is
                            productive. There is a Meetbot IRC bot in every channel to assist with meeting summaries
                            and logging. The summaries and logs of past meetings can be found at the Fedora Project
                            Meetbot page. Additional meetings functions are provided by Zodbot.
                        </p>
                    </div>
                </div>
                <div class="card-footer text-center" style="background-color: #e6e6e6; color:  #676767;">
                    <span class="small">
                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der/fragment/"
                           target="_blank">
                            Fragment

                        </a>
                        &copy 2021

                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der"
                           target="_blank">
                            Akashdeep Dhar
                        </a>
                        and
                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der/fragment/graphs/contributors"
                           target="_blank">
                            others
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal fade"
             aria-hidden="true"
             data-bs-backdrop="static"
             data-bs-keyboard="true"
             id="findmode">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header justify-content-center p-2" style="background-image: linear-gradient(180deg,#eee 0,#ddd);  color:#51A2DA;" >
                        <h6 class="modal-title head fw-bold">Lookup discussions</h6>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="input-group mb-3">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search for your meetings"
                                       aria-label="Search for your meetings"
                                       aria-describedby="findtext"
                                       id="findtext">
                                <button class="btn btn-outline-secondary"
                                        type="button"
                                        id="findbutn"
                                        onclick="search_meetings();">
                                    Search
                                </button>
                            </div>
                            <div class="card mb-3 mt-3" id="find-body"></div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center text-white p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
                        <div class="float-right">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true" id="chanmode">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header justify-content-center p-2" style="background-image: linear-gradient(180deg,#eee 0,#ddd); color:#51A2DA;">
                        <h6 class="modal-title head fw-bold">Explore meetings</h6>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="card mb-3">
                                <div class="list-group-item bg-light">
                                    <span id="chanhead" class="fw-bold">Loading...</span>
                                </div>
                            </div>
                            <div class="card">
                                <ul class="list-group list-group-flush" id="listchan-uols"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
                        <div class="float-left">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0 disabled"
                                    id="chanback">
                                Back
                            </button>
                        </div>
                        <span class="small fst-italic" id="chanfoot">
                            <span class="spinner-border spinner-border-sm mt-2" role="status" aria-hidden="true"></span>
                        </span>
                        <div class="float-right">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true" id="datemode">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header justify-content-center p-2" style="background-image: linear-gradient(180deg,#eee 0,#ddd); color:#51A2DA;">
                        <h6 class="modal-title head fw-bold">Explore meetings</h6>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="card mb-3">
                                <div class="list-group-item bg-light">
                                    <span id="datehead" class="fw-bold">Loading...</span>
                                </div>
                            </div>
                            <div class="card">
                                <ul class="list-group list-group-flush" id="listdate-uols"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
                        <div class="float-left">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    id="dateback"
                                    data-bs-toggle="modal"
                                    data-bs-dismiss="modal"
                                    data-bs-target="#chanmode">
                                Back
                            </button>
                        </div>
                        <span class="small fst-italic" id="datefoot">
                            <span class="spinner-border spinner-border-sm mt-2" role="status" aria-hidden="true"></span>
                        </span>
                        <div class="float-right">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             aria-hidden="true"
             data-bs-backdrop="static"
             data-bs-keyboard="true"
             id="meetmode">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header justify-content-center p-2" style="background-image: linear-gradient(180deg,#eee 0,#ddd); color:#51A2DA;">
                        <h6 class="modal-title head fw-bold">Explore meetings</h6>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="card mb-3">
                                <div class="list-group-item bg-light">
                                    <span id="meethead" class="fw-bold">Loading...</span>
                                </div>
                            </div>
                            <div class="card">
                                <ul class="list-group list-group-flush" id="listmeet-uols"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
                        <div class="float-left">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    id="meetback"
                                    data-bs-toggle="modal"
                                    data-bs-dismiss="modal"
                                    data-bs-target="#datemode">
                                Back
                            </button>
                        </div>
                        <span class="small fst-italic" id="meetfoot">
                            <span class="spinner-border spinner-border-sm mt-2" role="status" aria-hidden="true"></span>
                        </span>
                        <div class="float-right">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             aria-hidden="true"
             data-bs-backdrop="static"
             data-bs-keyboard="true"
             id="rcntmode">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header justify-content-center p-2" style="background-image: linear-gradient(180deg,#eee 0,#ddd); color:#51A2DA;">
                        <h6 class="modal-title head fw-bold">Recent conversations</h6>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="card mb-3">
                                <div class="list-group-item bg-light">
                                    <span id="rcnthead" class="fw-bold">Loading...</span>
                                </div>
                            </div>
                            <nav>
                                <div class="nav justify-content-center nav-tabs" role="tablist">
                                    <button class="nav-link active"
                                            id="daya-head"
                                            data-bs-toggle="tab"
                                            data-bs-target="#daya-cont"
                                            type="button"
                                            role="tab"
                                            aria-controls="data-cont"
                                            aria-selected="false">
                                        <span>Last day</span>
                                    </button>
                                    <button class="nav-link"
                                            id="week-head"
                                            data-bs-toggle="tab"
                                            data-bs-target="#week-cont"
                                            type="button"
                                            role="tab"
                                            aria-controls="week-cont"
                                            aria-selected="true">
                                        <span>Last week</span>
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content mt-3">
                                <div class="tab-pane fade show active"
                                     id="daya-cont"
                                     role="tabpanel"
                                     aria-labelledby="daya-head">
                                    <ul class="list-group" id="listrcnt-daya-uols"></ul>
                                    <div id="none-daya"></div>
                                </div>
                                <div class="tab-pane fade"
                                     id="week-cont"
                                     role="tabpanel"
                                     aria-labelledby="week-head">
                                    <ul class="list-group" id="listrcnt-week-uols"></ul>
                                    <div id="none-week"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center text-white p-1" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
                        <div class="float-right">
                            <button type="button"
                                    class="btn btn-sm btn-light m-0"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container">
            <div id="parent" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            </div>
        </div>
    </body>
    <script>
        var socket = io.connect();
        function showToast(meeting_json) {
            meeting_count = meeting_json.length;
            const timer = ms => new Promise(res => setTimeout(res, ms));
            async function load() {
                for (var i = 0; i < meeting_count; i++) {
                    var toastDiv = $(`
                        <div class="toast-body">
                            <h6 id="meeting-name">`+ meeting_json[i]["msg"]["meeting_topic"] +`</h6>
                            <div class="mt-2 pt-2 border-top">
                                <a id="toast-btn" type="button" class="btn btn-primary btn-sm" href="`+ meeting_json[i]["msg"]["url"] +`" target="_blank">Open meeting</a>
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                            </div>
                        </div>
                    `);
                    var parentDiv=document.getElementById('parent');
                    var div = document.createElement('div');
                    div.setAttribute('class','toast');
                    div.setAttribute('role','alert');
                    div.setAttribute('aria-live','assertive');
                    div.setAttribute('aria-atomic','true');
                    $(div).append(toastDiv);
                    $(parentDiv).append(div);
                    var toast = new bootstrap.Toast(div, {delay: 10000});
                    toast.show();
                }
            }
            load();
        }
        socket.on("show_toast", function(meeting_json) {
            showToast(meeting_json);
        });
    </script>
</html>