<!doctype html>
<!--
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
-->
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="{{ url_for('static', filename='css3/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/custom_fonts.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/fragment.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/fontawesome-all.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/fullcalendar.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css3/about.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='jscn/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/jquery.min.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='imgs/logoteal.png') }}" sizes="16x16">
        <script src="{{ url_for('static', filename='jscn/fragment.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/easy.qrcode.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/fullcalendar.js') }}"></script>
        <title>Meetbot Logs</title>
    </head>
    <body class="body bg-light">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(180deg,#eee 0,#ddd);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="width: 175px; margin-right: 0px;">
                    <img class="logo" alt="MEETBOT LOGS" src="{{ url_for('static', filename='imgs/Fedora_logo.png') }}" style="width: 95%; height: auto;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                    <ul class="navbar-nav me-auto pt-1">
                        <li class="nav-item" id="loader"></li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#chanmode"
                                type="button" onclick="populate_channel_list();">
                                Meetings by Channel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="button" href="#">
                                Meetings by Group
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="button" href="/about">
                                About
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="input-group">
                            <input type="text" autocomplete="off" class="form-control"
                                placeholder="Search meeting logs"
                                aria-label="Search meeting logs" aria-describedby="findtext"
                                style="width: 350px;" id="findtext">
                        </div>
                        <div class="input-group" data-bs-auto-close="true">
                            <ul class="dropdown-menu w-100" id="dropdown">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-lg">
            <div class="card text-center mt-1">
                <div class="card-body pt-0">
                    <div class="text-center">
                        <div class="mt-4">
                            <h1 class="head"><u>Mote 2.0</u></h1>

                            <h4>Flask project used to aggregate and distribute IRC meeting minutes and logs for the Fedora Project</h4>
                        
                             <h2 class="head"><u>Description</u></h2>
                
                            <p>
                            Mote is a web application purposed to aggregate and distribute the minutes and logs for IRC/Matrix meetings of the Fedora Project community
                            The project allows looking up meeting info with channel names, dates/times of occurrence and lists recent meetings for quick access
                            The backend is written in Python with the use of libraries such as Flask micro web framework, BeautifulSoup4, Urllib3, Click, Werkzeug etc
                            The frontend is written in HTML5, CSS3 and ES6 with the use of libraries such as Bootstrap 5, jQuery, Popper.JS, EasyQRCode etc
                            </p>                    
                            <h2 class="head"><u>List of contributors for mote project</u></h2>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/cydrobolt">
                                    <img src= "https://avatars.githubusercontent.com/u/1058150?v=4" style="width: 100px; height: 100px;" class="card-img-top" alt="Chaoyi Zha">
                                    </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Chaoyi Zha</h5>
                                      <p class="card-text"><small class="text-muted">cydrobolt</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/t0xic0der">
                                      <img src="https://avatars.githubusercontent.com/u/49605954?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Akashdeep Dhar">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Akashdeep Dhar</h5>
                                      <p class="card-text"><small class="text-muted">t0xic0der</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/ralphbean">
                                      <img src="https://avatars.githubusercontent.com/u/331338?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Ralph Bean">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Ralph Bean</h5>
                                      <p class="card-text"><small class="text-muted">ralphbean</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/jwflory">
                                      <img src="https://avatars.githubusercontent.com/u/4721034?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Justin W. Flory">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Justin W. Flory</h5>
                                      <p class="card-text"><small class="text-muted">jwflory</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/subhangi2731">
                                      <img src="https://avatars.githubusercontent.com/u/53938490?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Subhangi Choudhary">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Subhangi Choudhary</h5>
                                      <p class="card-text"><small class="text-muted">subhangi2731</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/anuragphadnis">
                                      <img src="https://avatars.githubusercontent.com/u/10177121?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Anurag Phadnis">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Anurag Phadnis</h5>
                                      <p class="card-text"><small class="text-muted">anuragphadnis</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/tuba-mouqeem">
                                      <img src="https://avatars.githubusercontent.com/u/76019991?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="tuba-mouqeem">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">tuba-mouqeem</h5>
                                      <p class="card-text"><small class="text-muted">tuba-mouqeem</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/jaehoonhwang">
                                      <img src="https://avatars.githubusercontent.com/u/7682947?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Jaehoon Hwang">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Jaehoon Hwang</h5>
                                      <p class="card-text"><small class="text-muted">jaehoonhwang</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/OBITORASU">
                                      <img src="https://avatars.githubusercontent.com/u/65222459?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Souhit Dey">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Souhit Dey</h5>
                                      <p class="card-text"><small class="text-muted">OBITORASU</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/mugiwarafx">
                                      <img src="https://avatars.githubusercontent.com/u/58401248?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="mugiwarafx">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">mugiwarafx</h5>
                                      <p class="card-text"><small class="text-muted">mugiwarafx</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/chinmaym07">
                                      <img src="https://avatars.githubusercontent.com/u/44670961?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Chinmay Mehta">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Chinmay Mehta</h5>
                                      <p class="card-text"><small class="text-muted">chinmaym07</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/Ank221199">
                                      <img src="https://avatars.githubusercontent.com/u/40303711?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Ankit Sinha">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Ankit Sinha</h5>
                                      <p class="card-text"><small class="text-muted">Ank221199</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/nasirhm">
                                      <img src="https://avatars.githubusercontent.com/u/35005234?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Nasir Hussain">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Nasir Hussain</h5>
                                      <p class="card-text"><small class="text-muted">nasirhm</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/ramyaparimi">
                                      <img src="https://avatars.githubusercontent.com/u/33761166?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Ramya Parimi">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Ramya Parimi</h5>
                                      <p class="card-text"><small class="text-muted">ramyaparimi</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/tserafim">
                                      <img src="https://avatars.githubusercontent.com/u/7226969?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Thiago Serafim">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Thiago Serafim</h5>
                                      <p class="card-text"><small class="text-muted">tserafim</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/darknao">
                                      <img src="https://avatars.githubusercontent.com/u/693402?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="darknao">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">darknao</h5>
                                      <p class="card-text"><small class="text-muted">darknao</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/vivekanand1101"> -->
                                      <img src="https://avatars.githubusercontent.com/u/9296805?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Vivek Anand">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Vivek Anand</h5>
                                      <p class="card-text"><small class="text-muted">vivekanand1101</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/keszybz">
                                      <img src="https://avatars.githubusercontent.com/u/349618?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Zbigniew Jędrzejewski-Szmek">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Zbigniew Jędrzejewski-Szmek</h5>
                                      <p class="card-text"><small class="text-muted">keszybz</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/puiterwijk">
                                      <img src="https://avatars.githubusercontent.com/u/967561?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Patrick Uiterwijk">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Patrick Uiterwijk</h5>
                                      <p class="card-text"><small class="text-muted">puiterwijk</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/jet2018">
                                      <img src="https://avatars.githubusercontent.com/u/43230268?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Tumusiime Ezra">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Tumusiime Ezra</h5>
                                      <p class="card-text"><small class="text-muted">jet2018</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/yummyweb">
                                      <img src="https://avatars.githubusercontent.com/u/33229117?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="yum">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">yum</h5>
                                      <p class="card-text"><small class="text-muted">yummyweb</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/gg-dev-05">
                                      <img src="https://avatars.githubusercontent.com/u/59741135?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Garvit Galgat">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Garvit Galgat</h5>
                                      <p class="card-text"><small class="text-muted">gg-dev-05</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/pnemade">
                                      <img src="https://avatars.githubusercontent.com/u/671366?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Parag Nemade">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Parag Nemade</h5>
                                      <p class="card-text"><small class="text-muted">pnemade</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/mymindstorm">
                                      <img src="https://avatars.githubusercontent.com/u/27789806?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="mymindstorm">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">mymindstorm</h5>
                                      <p class="card-text"><small class="text-muted">mymindstorm</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/alick">
                                      <img src="https://avatars.githubusercontent.com/u/933935?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Alick Zhao">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Alick Zhao</h5>
                                      <p class="card-text"><small class="text-muted">alick</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/quintenvandamme">
                                      <img src="https://avatars.githubusercontent.com/u/58103738?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Quinten Van Damme">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Quinten Van Damme</h5>
                                      <p class="card-text"><small class="text-muted">quintenvandamme</small></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <a href="https://github.com/tyll">
                                      <img src="https://avatars.githubusercontent.com/u/197720?v=4" style="width: 100px; height: 100px;" class="img-fluid rounded-start" alt="Till Maas">
                                      </a>
                                    <div class="card-body">
                                      <h5 class="card-title">Till Maas</h5>
                                      <p class="card-text"><small class="text-muted">tyll</small></p>
                                    </div>
                                  </div>
                                </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center" style="background-color: #e6e6e6; color:  #676767;">
                    <span class="small">
                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der/fragment/"
                           target="_blank">
                            Fragment

                        </a>
                        &copy 2021

                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der"
                           target="_blank">
                            Akashdeep Dhar
                        </a>
                        and
                        <a style="color:#676767; text-decoration:none;"
                           href="https://github.com/t0xic0der/fragment/graphs/contributors"
                           target="_blank">
                            others
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3"> 
        </div>
    </body>
    <script>
        var socket = io.connect();
        function meetingEnded(msg){
            var meet_dt = new Date(msg['details']['time_'] * 1000);
            var toastDiv = $(`
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">
                            Meeting <a href="`+ msg['url'] +`.html" style="font-style: italic;" target="_blank">`+ msg['meeting_topic'] +`</a> has ended
                        </strong>
                        <small>`+ meet_dt.toLocaleTimeString() +`</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                `);
            var parentDiv = $('.toast-container');
            $(parentDiv).append(toastDiv);
            var toast = new bootstrap.Toast(toastDiv, {autohide: false});
            toast.show();
        }
        socket.on("show_toast", function (msg) {
            meetingEnded(msg);
        });

        $(document).on("click", "#findtext", function (event) {
            var dropdownDiv = document.getElementById('dropdown');
            dropdownDiv.innerHTML =
                `<li><a class="dropdown-item" type="button">Enter four or more characters to search</a></li>`
            dropdownDiv.classList.add("show");
        })
        $(document).on("keyup", "#findtext", function (event) {
            var dropdownDiv = document.getElementById('dropdown');
            dropdownDiv.innerHTML =
                `<li><a class="dropdown-item" type="button">Enter four or more characters to search</a></li>`
            dropdownDiv.classList.add("show");
            search_results();
        });
        async function populate_channels(data) {
            data = JSON.parse(decodeURIComponent(data))
            initialize_search_modal();
            document.getElementsByClassName("input-group mb-3")[0].innerHTML = ""
            document.getElementById("findtext").value = "";
            document.getElementById("none-find").innerHTML = "";
            document.getElementById("find-cont").innerHTML = `
                    <div class="text-center text-muted mt-1 mb-1">${data.length} conversation(s) found</div>
                    <ul class="list-group" id="listfind-uols"></ul>
                `;
            document.getElementById("find-init").innerHTML = "";
            for (let indx in data) {
                $("#listfind-uols").append(`
                        <a class="list-group-item list-group-item-action" 
                        type="button" 
                        href="${data[indx]["slug"]["summary"]}" 
                        target="_blank">
                            <div class="head h4 ellipsis">
                                <span>${data[indx]["topic"]}</span>
                            </div>
                            <div class="fst-italic small text-muted mt-1">
                                <i class="fas fa-clock"></i>&nbsp;${data[indx]["time"]}&nbsp;
                                <i class="fas fa-calendar"></i>&nbsp;${data[indx]["date"]}&nbsp;
                                <i class="fas fa-layer-group"></i>&nbsp;${data[indx]["channel"]}&nbsp;
                            </div>
                        </a>
                    `);
            }
        }

        function debounce(func, timeout = 300) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    func.apply(this, args);
                }, timeout);
            };
        }

        const search_results = debounce(() => fetch_search_results());

        let prevValue = ""
        async function fetch_search_results() {
            let value = document.getElementById("findtext").value.toLowerCase();
            if (value != "") {
                if (value.length > 3 && value !== prevValue) {
                    var dropdownDiv = document.getElementById('dropdown');
                    dropdownDiv.innerHTML =
                        `<li><a class="dropdown-item" type="button">Loading...</a></li>`
                    dropdownDiv.classList.add("show")
                    prevValue = value
                    await $.getJSON("/fragedpt/", {
                        "rqstdata": "srchmeet",
                        "srchtext": value
                    }, function (data) {
                        results = data
                        results.sort((a, b) => (new Date(a.date).toLocaleDateString().split("/").reverse().join(
                                "") < new Date(b.date).toLocaleDateString().split("/").reverse().join(
                                "")) ? 1 :
                            ((new Date(a.date).toLocaleDateString().split("/").reverse().join("") >
                                new Date(b
                                    .date).toLocaleDateString().split("/").reverse().join("")) ? -1 : 0))
                    })
                    var dropdownDiv = document.getElementById('dropdown');
                    var htmlData = ""
                    if (results.length === 0) {
                        htmlData += `<li><a class="dropdown-item" type="button">No meetings found</a></li>`
                    } else if (results.length !== undefined) {

                        for (var i = 0; i < 5; i++) {
                            if (results[i] !== undefined) {
                                htmlData +=
                                    `<li><a class="dropdown-item" type="button"
                                target="_blank"
                                href=${results[i].slug.summary}>
                                <div class="head h4 ellipsis">
                                    <span style="font-size: 16px;">${results[i].topic}</span>
                                </div>
                                <div class="fst-italic small text-muted mt-1">
                                    <i class="fas fa-clock"></i>&nbsp;${results[i].time}&nbsp;
                                    <i class="fas fa-calendar"></i>&nbsp;${results[i].date}&nbsp;
                                    <i class="fas fa-layer-group"></i>&nbsp;${results[i].channel}&nbsp;
                                </div>
                                </a></li>`
                            }
                        }
                        if (results.length > 5) {
                            htmlData += `
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" style="font-weight:bold;" id="show-more" type="button" aria-current="page" data-bs-toggle="modal" data-bs-target="#findmode" type="button" onclick="populate_channels('${encodeURIComponent(JSON.stringify(results))}');">Show More</a></li>
                    `
                        }
                    }
                    dropdownDiv.innerHTML = htmlData
                    dropdownDiv.classList.add("show")
                }
            } else {
                var dropdownDiv = document.getElementById('dropdown');
                dropdownDiv.innerHTML =
                    `<li><a class="dropdown-item" type="button">Enter four or more characters to search</a></li>`
                dropdownDiv.classList.add("show")
            }
        }
        $('body').on('click', function (e) {
            document.getElementById('dropdown').classList.remove("show")
        });
        document.getElementById("loader").innerHTML = `
        <a class="nav-link active" aria-current="page" type="button">Recent meetings</a>
        `;
          
    </script>
</html>
