{% extends "base.html" %}
{% set thispage = thispage|default('admin') %}

{% block body %}
<div>
    <h2 class="center">møte admin</h2>
    <p>Create expressions for meeting folders and files.</p>
</div>
<div>
    <br />
    <h3>Channels</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Expression</th>
                <th>Friendly Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="fedora-pa" /></td>
                <td><input type="text" class="form-control" value="Fedora Panama" /></td>
            </tr>
        </tbody>
    </table>
    <h3>Teams</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Expression</th>
                <th>Friendly Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="famna" /></td>
                <td><input type="text" class="form-control" value="Fedora North American Ambassadors" /></td>
            </tr>
        </tbody>
    </table>
    <a  id="save" class="btn btn-success">Save</a>&nbsp;
    <a  id="add_entry" class="btn btn-primary">Add Entry</a>

</div>
{% endblock %}
