{% extends "base.html" %}
{% set thispage = thispage|default('browse') %}

{% block body %}
<div>
    <h2 class="center">Browse Fedora IRC meeting groups</h2>
</div>
<br />
<div class="row container-fluid">
    <div class="col-md-4 col-md-offset-2 browse_pad">
    {% for category in category_mappings %}
        <div>
            <h3>{{category}}</h3>
            {% if category_mappings[category] != [] %}
                <dl>
                {% for group in category_mappings[category] %}
                    <dt>
                    {% if "#" in group %}
                        {% set group = group[1:] %}
                        <a href="/sresults?group_id={{group}}&type=channel">{{ browse_nmappings[group] | e }}</a>
                    {% else %}
                        <a href="/sresults?group_id={{group}}&type=team">{{ browse_nmappings[group] | e }}</a>
                    {% endif %}
                    </dt>
                {% endfor %}
                </dl>
            {% else %}
                <p>Nothing here yet.</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
