{% extends "base.html" %}
{% set thispage = thispage|default('browse') %}

{% block body %}
<div>
    <h2 class="center">Browse Fedora IRC meetings</h2>
</div>
<div>
    <br />
    <h3>Channel Meetings</h3>
    {% if (channel_meetings | length) < 1 %}
        <p>Nothing here yet</p>
    {% else %}
        <ul>
        {% for cm_key, cm_val in channel_meetings.items(): %}
            <li><b>{{cm_key}}</a></li>
                <ul>
                    {% for cm_date, cm_links in cm_val.items() %}
                        <h4>{{cm_date}}</h4>
                        <i>Minutes</i>
                        <ul>
                            {% for minutes in cm_links["minutes"] %}
                            <li><a href="https://meetbot.fedoraproject.org/{{cm_key}}/{{cm_date}}/{{minutes}}">{{minutes}}</a></li>
                            {% endfor %}
                        </ul>
                        <i>Logs</i>
                        <ul>
                            {% for logs in cm_links["logs"] %}
                            <li><a href="https://meetbot.fedoraproject.org/{{cm_key}}/{{cm_date}}/{{logs}}">{{logs}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
        </ul>
        {% endfor %}
    {% endif %}
</div>
<div>
    <h3>Team Meetings</h3>
    {% if (team_meetings | length) < 1 %}
        <p>Nothing here yet</p>
    {% else %}
        <ul>
        {% for tm_key, tm_val in team_meetings.items(): %}
            <li><b>{{tm_key}}</a></li>
                <ul>
                    {% for tm_date, tm_links in tm_val.items() %}
                        <h4>{{tm_date}}</h4>
                        <i>Minutes</i>
                        <ul>
                            {% for minutes in tm_links["minutes"] %}
                            <li><a href="https://meetbot.fedoraproject.org/teams/{{tm_key}}/{{minutes}}">{{minutes}}</a></li>
                            {% endfor %}
                        </ul>
                        <i>Logs</i>
                        <ul>
                            {% for logs in tm_links["logs"] %}
                            <li><a href="https://meetbot.fedoraproject.org/teams/{{tm_key}}/{{logs}}">{{logs}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
        </ul>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
