{% extends "base.html.j2" %}

{% block content %}
            <div class="card" style="margin-top: 10%;">
                <div class="card-body text-center">
                    <img src="{{ url_for('static', filename='imgs/404_not_found.svg') }}" style="width: 40%;" />
                    <div class="mt-4">
                        <p class="h2 head" style="font-weight: bold;">Oops, it seems like you have wandered into a wrong path</p>
                        <p class="h4 body">404 Not Found</p>
                        <a href="/"
                        class="btn mt-2"
                        type="button">
                            <span style="color: #80C0C0; font-weight:bold; font-size: 2em">
                                Back to home page
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <span class="small">
                        <a 
                           href="https://github.com/t0xic0der/fragment/"
                           target="_blank">
                            Fragment

                        </a>
                        &copy 2021

                        <a
                           href="https://github.com/t0xic0der"
                           target="_blank">
                            Akashdeep Dhar
                        </a>
                        and
                        <a
                           href="https://github.com/t0xic0der/fragment/graphs/contributors"
                           target="_blank">
                            others
                        </a>
                    </span>
                </div>
                    </span>
                </div>
            </div>
{% endblock %}
