{% extends "base.html.j2" %}

{% block content %}
            <div class="card" style="margin-top: 10%;">
                <div class="card-body text-center">
                    <img src="{{ url_for('static', filename='imgs/404_not_found.svg') }}" style="width: 40%;" />
                    <div class="mt-4">
                        <p class="h2 head" style="font-weight: bold;">Oops, it seems like you have wandered into a wrong path</p>
                        <p class="h4 body">404 Not Found</p>
                        <a href="/"
                        class="btn mt-2"
                        type="button">
                            <span style="color: #80C0C0; font-weight:bold; font-size: 2em">
                                Back to home page
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <span class="small">
			Meetbot Logs &copy 2021-2022
                        <a
                           href="https://docs.fedoraproject.org/en-US/websites/"
                           target="_blank">
                            Fedora Websites and Apps Team
                        </a>
                        <a href="https://github.com/fedora-infra/mote"
                           target="_blank">
                            (Sources)
                        </a>
                    </span>
                </div>
            </div>
{% endblock %}
