<div class="evt-smry-header d-flex justify-content-between align-items-center pb-2 m-2 mb-0">
  <div class="evt-smry-title d-grid d-md-block gap-2">
     <span class="me-4">{{ meet['title'] }}</span>
     <span class="evt-smry-length text-nowrap me-4"><i class="fas fa-clock fa-lg me-2" aria-hidden="true"></i>{{ meet['duration'] }} min</span>
     <span class="evt-smry-length text-nowrap"><i class="far fa-calendar-alt fa-lg me-2" aria-hidden="true"></i>{{ startdate }}</span>
  </div>
  <div class="d-grid gap-2 d-md-block">
    <div class="btn-group">
      <a role="button" class="btn btn-primary btn-sm text-nowrap" href="{{ full_log }}" target="_blank"><i class="far fa-list-alt fa-lg pe-2" aria-hidden="true"></i>Full Logs</a>
      <button id="full_log_type" type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul style="" aria-labelledby="full_log_type" class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{ full_log }}" target="_blank">as HTML</a></li>
        <li><a class="dropdown-item" href="{{ full_log|trim(".html") + ".txt" }}" target="_blank">as plain text</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <a role="button" class="btn btn-primary btn-sm text-nowrap" href="{{ permalink }}" target="_blank"><i class="fas fa-link fa-lg pe-2" aria-hidden="true"></i>Permalink</a>
      <button id="permalink_type" type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul style="" aria-labelledby="permalink_type" class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{ permalink }}" target="_blank">as HTML</a></li>
        <li><a class="dropdown-item" href="{{ permalink|trim(".html") + ".txt" }}" target="_blank">as plain text</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-dark btn-sm" aria-label="Close" data-bs-dismiss="modal"><i class="fas fa-times fa-lg pe-2" aria-hidden="true"></i>Close</button>
  </div>
</div>

<div class="evt-smry-body container p-3 pb-0">
  <div class="row">
    <div class="evt-smry-col col-12 col-lg-2 p-2">
      <p class="evt-smry-header"><i class="fas fa-users fa-lg me-2"></i>People present ({{ meet['peoples']|length }})</p>
      <ul class="list-unstyled ms-4">
	{% for people in meet['peoples'] %}
        <li>{{ people }}</li>
	{% endfor %}
      </ul>
    </div>
    <div class="evt-smry-col col-12 col-lg-5 p-2">
      <p class="evt-smry-header"><i class="fas fa-comments fa-lg me-2"></i>Topics covered ({{ meet['topics']|length }})</p>
      <ul class="">
	{% for topic in meet['topics'] %}
        <li>
	  <b class="TOPIC">{{ topic['title'] }}</b>
          <ol type="a">
	    {% for info in topic['info'] %}
            <li><span class="INFO">{{ info }}</span></li>
	    {% endfor %}
	  </ol>
        </li>
	{% endfor %}
      </ul>
    </div>
    <div class="evt-smry-col col-12 col-lg-5 p-2">
      <p class="evt-smry-header"><i class="fas fa-clipboard-list fa-lg me-2"></i>Action Items ({{ meet['actions']|length }})</p>
      <ul class="">
	{% for action in meet['actions'] %}
        <li>{{ action }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
