{% extends "base.html" %}
{% set thispage = "home" %}
{% block head %}
<link href="/static/css/select2.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="center">
    <img src="/static/fedora_logo.svg" width="20%" height:"20%" />

    <h1>møte meetbot wrangler</h1>
    <p>møte allows the Fedora community to search and explore IRC meetings.
        <br />
        More information on meetings can be found
    <a href="https://fedoraproject.org/wiki/Meeting_channel?rd=Fedora_meeting_channel">here</a>.</p>
    <p>Administrators can update møte configuration and expressions through the <a href="/admin">admin panel</a></p>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <select id="search-field" class="tpa form-control center-input" data-placeholder="Search..." autocomplete="off" class="center-input form-control"></select>
        </div>
    </div>
    <br />
    <a href="javascript:void();" id="search" class="btn btn-primary">Search</a>&nbsp;
    <a href="/browse" id="browse" class="btn btn-info">Browse</a>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/index-vars.js"></script>
    <script src="/static/js/index.js"></script>
</div>
{% endblock %}
