{% extends "base.html.j2" %}
{% block head %}
        <link href="{{ url_for('static', filename='css3/fullcalendar.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='jscn/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/fullcalendar.js') }}"></script>
        <script src="{{ url_for('static', filename='jscn/calview.js') }}"></script>
{% endblock %}

{% block content %}
            <div class="card mt-1">
                <div class="card-body">
                    <div class="">
                        <div class="font-alt">
			    <div class="btn-toolbar justify-content-between p-3 pt-0" role="toolbar" aria-label="Calendar navigation bar">
			    <div class="cal-title mb-2 mb-lg-0 mx-auto mx-lg-0">
                              <span id="spin" class="far fa-calendar" aria-hidden="true"></span>Meetings by Date
			    </div>


			    <div class="btn-group cal-nav mb-2 mb-lg-0 mx-auto mx-lg-0" role="group" aria-label="Calendar navigation">
                              <button type="button" class="btn btn-outline-primary" id="prev"><span class="fas fa-angle-left fa-lg" aria-hidden="true"></span></button>
                              <button type="button" class="btn btn-outline-primary" disabled id="curDate"></button>
                              <button type="button" class="btn btn-outline-primary" id="next"><span class="fas fa-angle-right fa-lg" aria-hidden="true"></span></button>
                            </div>

			    <div class="btn-group mb-2 mb-lg-0 mx-auto mx-lg-0" role="group" aria-label="Calendar view">
                              <button type="button" class="btn btn-outline-primary" id="day"><i class="fas fa-calendar-day fa-lg" aria-hidden="true"></i> Day</button>
                              <button type="button" class="btn btn-outline-primary active" id="week"><i class="fas fa-calendar-week fa-lg" aria-hidden="true"></i> Week</button>
                              <button type="button" class="btn btn-outline-primary" id="month"><i class="fas fa-calendar-alt fa-lg" aria-hidden="true"></i> Month</button>
                              <button type="button" class="btn btn-outline-primary" id="today">Today</button>
                            </div>

			    </div>
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <span class="small">
			Meetbot Logs &copy 2021-2022
                        <a
                           href="https://docs.fedoraproject.org/en-US/websites/"
                           target="_blank">
                            Fedora Websites and Apps Team
                        </a>
                    </span>
                </div>
            </div>
{% endblock %}

{% block tail %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3"> 
        </div>
        <div class="modal fade" id="evt-smry">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down modal-dialog-scrollable">
	        <div class="modal-content"></div>
	    </div>
	</div>
{% endblock %}

{% block endpage %}
    <script>
        var socket = io.connect();
        function meetingEnded(msg){
            var meet_dt = new Date(msg['details']['time_'] * 1000);
            var toastDiv = $(`
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">
                            Meeting <a href="`+ msg['url'] +`.html" style="font-style: italic;" target="_blank">`+ msg['meeting_topic'] +`</a> has ended
                        </strong>
                        <small>`+ meet_dt.toLocaleTimeString() +`</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                `);
            var parentDiv = $('.toast-container');
            $(parentDiv).append(toastDiv);
            var toast = new bootstrap.Toast(toastDiv, {autohide: false});
            toast.show();
        }
        socket.on("show_toast", function (msg) {
            meetingEnded(msg);
        });
    </script>
{% endblock %}

