{% extends "base.html" %}

{% block body %}
<div class="center">
    <h3>{{group}} {{gtype}} meeting {{ltype}} - {{date}}</h3>
    <p class="text-muted">{{filename}}</p>
</div>
<hr />
<div class="logdisplay">
    <i class="fa fa-spin fa-spinner fa-3x"></i>
</div>
{% endblock %}

{% block js %}
<script>
    window.current_group_type = "{{gtype}}";
    window.current_group_id = "{{group}}";
    window.current_date_stamp = "{{date}}";
    window.current_fname = "{{filename}}";
    window.current_log_type = "{{ltype}}";
</script>

<script src="/static/js/single-log.js"></script>
{% endblock %}
