{% extends "base.html" %}

{% block body %}

{% if ltype == 'meeting' %}
<div class='select-meeting-type-container'>
    <h3>Please select which type of logs you would like to view</h3>
    <a href='#' data-mtype='minutes' class='select-meeting-type btn btn-warning'>Minutes</a>
    <a href='#' data-mtype='logs' class='select-meeting-type btn btn-success'>Logs</a>
</div>
{% endif %}

<div class='display-container' style="{% if ltype == 'meeting' %}display:none{% endif %}">
    <div class="center">
        <h3>{{group}} {{gtype}} meeting {{ltype}} - {{date}}</h3>
        <p class="text-muted">{{filename}}</p>
    </div>
    <hr />
    <div class="log-display">
        <i class="fa fa-spin fa-spinner fa-3x"></i>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    window.log_extensions = {
        "logs": "log.html",
        "minutes": "html"
    };

    window.current_group_type = "{{gtype}}";
    window.current_group_id = "{{group}}";
    window.current_date_stamp = "{{date}}";
    window.current_fname = "{{filename}}";
    window.current_log_type = "{{ltype}}";
</script>

<script src="/static/js/single-log.js"></script>
{% endblock %}
