{% extends "base.html" %}
{% set thispage = thispage|default('browse') %}

{% block css %}
<link href="/static/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="center row">
        <h3>Group Details</h3>
        {% if friendly_name %}
            <h4>{{ friendly_name | e }}</h4>
        {% else %}
            <h4>{{name}}</h4>
        {% endif %}
        <b>name: </b> {{ name | e }}</b> |
        <b>type: </b> {{ type | e }}</b>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h4>Search for another group</h4>
            <select id="search-field" class="form-control center-input" autocomplete="off" data-placeholder="Search..." class="center-input form-control"></select>
        </div>
        <div class="col-md-4">
            <h4>Browse</h4>
            Not sure which team or channel you are looking for?
            Try <a href="/browse">browsing</a>!
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h4>Dates</h4>
            <a id="showLatestMeeting" data-latestmtg="{{latest_meeting}}" class="btn btn-sm btn-info">Latest Meeting</a>
            <ul class="list-group main-list-group">
                {% for year in avail_dates %}
                <h3><a data-year="{{year}}" class="yearToggle list-group-item list-group-item-success">{{year}}</a></h3>
                <ul id="open-{{year}}" class="list-group lev1 hid-list">
                {% for month in avail_dates[year] %}
                    <h4><a data-month="{{year}}-{{month}}" class="monthToggle list-group-item list-group-item-info">{{month}}</a></h4>
                    <ul id="open-{{year}}-{{month}}" class="list-group lev2 hid-list">
                    {% for day in avail_dates[year][month] %}
                        <a data-day="{{day}}" class="meeting-day dayToggle list-group-item">{{day}}</a>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Minutes and Logs</h4>
            <div id="minlogs">
                <p>Select a meeting date from the left to view its minutes and logs.</p>
            </div>
            <span id="loading-icon"></span>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
    window.current_group_id = "{{ name | e }}";
    window.current_group_type = "{{ type | e }}";
    window.meetbot_location = "{{ meetbot_location }}";
</script>
<script src="/static/js/sresults-vars.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/sresults.js"></script>
{% endblock %}
