{% extends "base.html.j2" %}

{% block content %}
            <div class="text-center mt-4">
                <i class="display-1 far fa-file-alt"></i>
            </div>
            <div class="h4 head text-center mt-4 mb-4">
                {{ meetname }}
            </div>
            <ul class="list-group container-sm col-lg-4 col-md-6 mt-4 mb-4">
                <li class="list-group-item">
                    <span class="float-left"><i class="fas fa-clock"></i></span>&nbsp;
                    <span class="float-right">{{ timetext }}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-left"><i class="far fa-calendar-alt"></i></span>&nbsp;
                    <span class="float-right">{{ cldrdate.strftime("%B %d, %Y") }}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-left"><i class="fas fa-users"></i></span>&nbsp;
                    <span class="float-right">{{ channame }}</span>
                </li>
            </ul>
            <div class="card mt-2 mb-2">
                <div class="card-header text-center head fw-bold">
                    {{ typecont | upper }}
                </div>
                <div class="card-body">
                    {{ meetcont | safe }}
                </div>
                <div class="card-footer text-center">
                    <span class="small">
			Meetbot Logs &copy 2021-2022
                        <a
                           href="https://docs.fedoraproject.org/en-US/websites/"
                           target="_blank">
                            Fedora Websites and Apps Team
                        </a>
                        <a href="https://github.com/fedora-infra/mote"
                           target="_blank">
                            (Sources)
                        </a>
                    </span>
                </div>
            </div>
{% endblock %}
