Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
beautifulsoup4==4.3.2
itsdangerous==0.24
kitchen==1.2.1
munch==2.0.2
python-dateutil==2.4.2
python-fedora==0.4.0
python-memcached==1.54
python-openid==2.2.5
python-openid-cla==1.0
python-openid-teams==1.0
requests==2.7.0
six==1.9.0
urllib3==1.10.4
wsgiref==0.1.2
