#bigcard {
  border: solid transparent;
}
.card li {
  color: rgba(60, 110, 180, 1);
  font-family: 'Montserrat';
  font-weight: bold;

}

.card header {
  font-family: 'Montserrat';
  font-weight: bold;
}

.card label {
  margin-right: auto;
  color: rgba(81, 162, 218, 1);
  font-family: 'Montserrat';
}

article {
  color: rgba(81, 162, 218, 1);
  font-family: 'Montserrat';
  font-style: 'normal';
  font-size: 22px;
  font-weight: bold;
}

.table {
  margin-bottom: 0px;
}

text {
  color: rgba(81, 162, 218, 1);
  font-family: 'Open Sans';
  font-size: 12px;
}

.item {
  color: rgba(60, 110, 180, 1);
  font-family: 'Open Sans';
  font-style: 'normal';
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;

}

.form-check-input {
  margin-left: 620px;
}