.inline {
    display: inline;
}

.modal-button {
    margin-right: 50px;
}

.log-display {
    padding-top: 20px;
}

.lev1 {
    padding-left: 20px;
    text-align: left;
}

.lev2 {
    padding-left: 40px;
    text-align: left;
}

.minlog-ul {
    list-style-type: none;
    text-align: left;
}

.browse_pad, .date-list-header {
    padding-bottom: 35px;
}

#loading-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Meetbot Display CSS */
.log-display .details {
    font-size: 12px;
    font-weight:bold;
}

.single-log-minutes {}
.itemtype {
    font-style: normal;
    font-weight: bold;
}

.modal-body {
  overflow-x: auto;
}

.modal-dialog {
  width: 80%;
}

.log-display pre { white-space: pre-wrap; word-break: keep-all; }
.log-display pre { background: #f0f0f0; }

.log-display pre .tm  { color: #007020 }                      /* time */
.log-display pre .nk  { color: #062873; font-weight: bold }   /* nick, regular */
.log-display pre .nka { color: #007020; font-weight: bold }  /* action nick */
.log-display pre .ac  { color: #00A000 }                      /* action line */
.log-display pre .hi  { color: #4070a0 }                 /* hilights */
/* Things to make particular MeetBot commands stick out */
.log-display pre .topic     { color: #007020; font-weight: bold }
.log-display pre .topicline { color: #000080; font-weight: bold }
.log-display pre .cmd       { color: #007020; font-weight: bold }
.log-display pre .cmdline  { font-weight: bold }

/* Bootstrap Fixes */

body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}

.push_bottom {
    margin-bottom: 90px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Bootstrap Theming */

/* navbar */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-default {
    background-color: #294172;
    border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e59728;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #79db32;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* UI CSS */

.center {
    text-align: center;
}

footer {
    position: absolute;
    margin-top: 10px;
    height: 30px;
    bottom: 0px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.central-content {
    padding-bottom: 30px;
}

footer > p {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.tagline {
    margin-left: 30%;
    margin-right: 30%;
}

@media (max-width: 979px) {
  .tagline {
      margin-left: 10%;
      margin-right: 10%;
  }
}

a {
    cursor: pointer;
}

.index-midpage {
    margin-top: 10%;
}

.index-searchbar {
    margin-bottom: 17px;
}

.select2-results__option {
    word-wrap: break-word;
}

.select2-results__option h4 {
    display: inline;
}

.select2-results__option .group-icon {
    margin-right: 0.5em;
}

.latest-meetings-header {
    margin-top: 2em;
}

.latest-meetings-missing {
    margin-top: 2em;
    opacity: 0.5;
}

.latest-meetings-list {
    margin-top: 2em;
}

.latest-meetings-list li {
    list-style-type: none;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #294172 !important;
    color: white;
  }
  