/*
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
*/

.head {
    font-family: 'Montserrat', sans-serif;
}

.body {
    font-family: 'Overpass', sans-serif;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

.tealfilt {
    filter: invert(29%) sepia(84%) saturate(1479%) hue-rotate(154deg) brightness(91%) contrast(101%);
}

/* For the .log.html */
pre {
    white-space: pre-wrap;
}

body {
    background: #f0f0f0;
}

/* time */
body .tm  {
    color: #007020
}

/* nick, regular */
body .nk  {
    color: #062873;
    font-weight: bold;
}

/* action nick */
body .nka {
    color: #007020;
    font-weight: bold;
}

/* action line */
body .ac  {
    color: #00a000;
}

/* highlights */
body .hi  {
    color: #4070a0;
}

/* Things to make particular MeetBot commands stick out */
body .topic {
    color: #007020;
    font-weight: bold;
}

body .topicline {
    color: #000080;
    font-weight: bold;
}

body .cmd {
    color: #007020;
    font-weight: bold;
}

body .cmdline {
    font-weight: bold;
}

/* This is for the .html in the HTML2 writer */
h1 {
    text-align: center;
}

hr {
    border: 1px solid #cccccc;
}

/* The (nick, time) item pairs, and other body text things. */
.details {
    font-size: 12px;
    font-weight:bold;
}

/* The 'AGREED:', 'IDEA', etc, prefix to lines. */
.itemtype {
    font-style: normal;    /* un-italics it */
    font-weight: bold;
}

/* Example: change single item types.  Capitalized command name. */

/*
.TOPIC {
    color:navy;
}
*/

/*
.AGREED {
    color:lime;
}
*/
